<html>
<head><title>IMDB review Analyzer</title></head>


<body>
    <form method="post" action="/analyze">
        <label for="review">Enter the text</label>
        <input type="text" name="intent" id="intent">  <br>
        <input  type="submit" value="Analyze"><br><br>

    </form>
    <input style="height:200px;width:500px;" type="text" name="" id="" value="{{result}}">

</body>


</html>